#!/bin/bash

commit_msg=$(cat "$1")
if [[ ! $commit_msg =~ ^MOTIVO\ DEL\ COMMIT:\ .*$|IMPLEMENTACIÓN:\ .*$ ]]; then
  echo "ERROR: El mensaje de commit no cumple con el formato requerido."
  exit 1
fi


